Installer Python 3.8.8 (https://www.python.org/downloads/)
Installer les pack suivant 
          bs4 0.0.1 ==> (https://pypi.org/project/bs4/)
          csv 0.0.13 (https://pypi.org/project/python-csv/)
          requests 2.25.1 (https://pypi.org/project/requests/)
